<div id="header-component">
    <div class="bg-melissa h-[14rem] rounded-b-[30px] relative overflow-hidden">
        <div class="absolute inset-0 z-0 pointer-events-none">
            <img src="../assets/img/bg2.png" alt="Fondo de toronjil" class="h-[15rem] ">
        </div>
        <div class="px-6 pt-10 relative z-10">
            <div class="flex justify-between items-center">
                <img src="../assets/img/header/menu.png" alt="Menu" class="w-7">
                <img src="../assets/img/header/notifications.png" alt="Notification" class="w-5">
            </div>
            <div class="flex justify-between items-center mt-10">
                <div>
                    <p class="text-melissa-light text-xs font-light">¡Bienvenida de nuevo!</p>
                    <p class="text-melissa-light text-2xl font-medium">Karina Arango</p>
                </div>
                <div class="border border-melissa-light rounded-xl p-3">
                    <p class="text-melissa-light text-xs font-light">Medellín, Colombia</p>
                    <div class="flex items-center space-x-2">
                        <div class="flex items-center space-x-2">
                            <img src="../assets/img/header/sunny.png" alt="Location" class="w-6">
                            <p class="text-melissa-light text-xs font-medium">Soleado</p>
                        </div>
                        <div class="flex items-center">
                            <img src="../assets/img/header/thermostat.png" alt="Location" class="w-6">
                            <p class="text-melissa-light text-xs font-medium">24°</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative px-8 -mt-6">
        <div class="bg-melissa-light-2 rounded-lg flex items-center px-4 py-3 shadow-md">
            <input type="text" placeholder="Buscar..." class="bg-transparent flex-1 outline-none text-melissa placeholder-melissa font-semibold text-sm">
            <button>
                <img src="../assets/img/header/search.png" alt="Search" class="w-5">
            </button>
        </div>
    </div>
</div>